@model IEnumerable<COMP_1640.Models.Assignment>
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
        <div class="d-flex flex-row justify-content-between border shadow mb-3 mt-3">
            <div>
            </div>
            <p>
                <a asp-controller="AssignmentController" asp-action="Create" class="btn btn-primary mt-3 mr-2">Create New Idea</a>
            </p>
        </div>
</div>
